.frame {
    position: absolute;
    top: 20%;
    box-align: center;
}

.topbox {
    width: 1250px;
    height: 300px;
    background-color: rgb(199, 219, 21);
    color: blue;
    font-style: oblique;
    font-family: cursive;
    font-size: 14px;
    border: 0px solid;
    border-radius: 5px;
    margin: 10px;
    padding-bottom:300px;
}

.generalbox {
	float:center;
    width: 1300px;
    height: 1250px;
    background-color: white;
    color: blue;
    font-famil:;
    font-size: 14px;
    border: 0px solid;
    border-radius: 5px;
    margin: 10px;
    padding-bottom:100px;
}
.smallbox{
	display:inline;
	width: 90px;
    height: 12px;
    background-color: #E6E6E6;
    color: #fd3136;
    font-style: normal;
    font-family: cursive;
    font-size: 14px;
    border: 1.5px ;
    border-style:solid;
    border-radius: 1px;
    margin: 5px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
	
}
.mediumbox{
	display:inline;
	width: 200px;
    height: 12px;
    background-color: #E6E6E6;
    color: #fd3136;
    font-style: normal;
    font-family: cursive;
    font-size: 14px;
    border: 2px;
    border-style:dashed;
    border-radius: 1px;
    margin: 5px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
	
}